/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* App-wide styles */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Sử dụng font Roboto */
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    overflow: hidden;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

.auth-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff); /* Nền riêng cho auth */
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
    .app-container {
        padding: 10px;
    }

    .auth-layout {
        padding: 10px;
    }
}
